
body {
  background-color: #454445;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #F5F3DC;
}

#sample_container_id {
  width: 100%;
  height: 400px;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
}

#sample_text_id {
  font-size: 24pt;
  text-align: center;
  margin-top: 140px;
}


.spider_grid_cap{
  stroke: #F5F3DC;
  fill: none;
  opacity: 0.5;
}

.spider_grid_proportion_visualisation_path{

  fill: #FF5828;
  opacity: 0.5;
}

.spider_grid_axis{
  stroke: #F5F3DC;
  fill: none;
  stroke-width: 2;
  opacity: 0.1;
}

.spider_grid_axis_caption{
  fill: #F5F3DC;
  font-size: 25pt;
  opacity: 0.6;
}

.spider_grid_axis_caption_left{
  text-anchor: end;
}

.spider_grid_axis_caption_right{
  text-anchor: start;
}

.spider_grid_axis_caption_bottom{
  dominant-baseline: hanging;
}


#calculate_button{
  width: 100%;
background-color: #454445;
color: #F5F3DC;
font-family: 'Open Sans', sans-serif;
border-color: #F5F3DC;
border-style: solid;
text-align: center;
box-sizing: border-box;
padding: 10px;
font-size: 20px;
}

#calculate_button:hover {
background-color: #FF5828;

}

#import_csv_input {
width: 100%;
height: 400px;
background-color: #454445;
color: #F5F3DC;
font-family: 'Open Sans', sans-serif;
border-color: #F5F3DC;
padding: 10px;
box-sizing: border-box;
margin-bottom: 10px;
}


@media (orientation: portrait) {
#import_csv_form{
width: 100%;
}
#spent_time_visualizer_container{
  width: 100%;
}
 }

 @media (orientation: landscape) {
#import_csv_form{
  width: 39%;
          display: inline-block;
          vertical-align: middle;
}

#spent_time_visualizer_container{
  width: 60%;
         display: inline-block;
         vertical-align: middle;
}
  }